<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>

    {% if message %}
        <p>{{ message }}</p>
    {% endif %}

    <form action="" method="post">



        <p>
            <label for="var3">недельное удержание</label>
            <input type="text" name="недельное удержание">
	   </p>

       <p>
	    <input type="submit">
	</p>
    </form>

</body>
</html>
